html, body {
    margin: 0;
    height: 100%;
    display: grid;
    
}

#calc {
    border: 2px black solid;
    height:70%;
    width: auto;
    max-width: 400px;
    display: grid;
    justify-self: center;
    align-self: center;
    background-color: rgb(114, 109, 109);
    border-radius: 10px;
}

#output {
    display: grid;
    border: 2px black solid;
    min-height: 60px;
    width: 95%;
    justify-self: center;
    margin-top: 10px;
    background-color: rgb(185, 181, 181);
    border-radius: 10px;
    justify-content: right;
    align-content: center;
}

.screen {
    font-size: 2rem;
    margin: 0px 30px 0px 0px;
}

#remove {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: end;
    grid-gap: 6px;
    margin: 6px;
}

.clear {
    border: 2px black solid;
    font-size: 2rem;
    height: 70px;
    width: auto;
    background-color: rgb(64, 64, 212);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.delete {
    border: 2px black solid;
    font-size: 2rem;
    height: auto;
    width: auto;
    background-color: rgb(196, 66, 66);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 6px;
    margin: 6px;
}

.number {
    border: 2px black solid;
    font-size: 2rem;
    height: auto;
    width: auto;
    border-radius: 10px;
    background-color: rgb(185, 181, 181);
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
}

.operator {
    border: 2px black solid;
    font-size: 2rem;
    height: auto;
    width: auto;
    background-color: rgb(168, 197, 168);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
